<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
        <div class="w-full flex justify-end">
            <a class="bg-red-500 rounded-md px-3 py-2 text-sm mb-5 inline-block" href="/logout">Logout</a>
        </div>
        <h5 class="mb-5">Edit your post</h5>
        <div class="w-full max-w-md">
            <form action="/update/<%= post._id %>" method="post">
                <textarea placeholder="what's on your mind?" class="block p-3 outline-none w-full resize-none bg-transparent border-2 border-zinc-800 rounded-md " name="content"><%= post.content %></textarea>
                <input class="px-3 w-30 py-2 text-sm bg-yellow-500 text-black block rounded-md mt-2" type="submit" value="Update Post">
            </form>
            
        </div>
    </div>
</body>
</html>
